{% extends "layout.html" %} 

{% set title = "Buscar" %} 


{% block content %}
        <section class="section">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <h5 class="card-title">{{livro.titulo}}</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">id: {{livro.id}}</h6>
                        <p class="card-text">{{livro.dataDeLancamento}}</p>
                        <button type="button" class="btn btn-success">Editar</button>
                        <a href="/livros/deletar/{{livro.id}}"><button type="button" class="btn btn-danger">Excluir</button></a>
                        </div>
                    </div>         
        </section>     
    </div>
{%endblock %}
